<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Template</title>
    </head>

    <body>
        <button type='Home' style="font-size:25px;background-color:grey; color:lightblue; border-radius:25px;">Home</button>
       <h1> Maksad Na bhulna </h1>
       <!--{{name}} is from {{place}}-->

       <form action='/analyze' method='get'>
        
        <textarea name='text' style='margin:0px; width:721px;height:93px;'>
        </textarea>
        <br>

        <input type="checkbox" name="removepunc">Remove Punctuation<br>
        <input type="checkbox" name="fullcaps">uppercase<br>
        <input type="checkbox" name="newlineremover">New Line Remover<br>
        <input type="checkbox" name="extraspaceremover">Remove extra space<br>
        <input type="checkbox" name="charcount">Count Character<br>


        

        <button type='submit'>SUBMIT</button>

       

    </form>
    

    </body>
</html>




